$base-color: #bb8f8f
$second-color: #BF8E65

body
	height: 100vh
	width: 100%
	margin: 0
	background: #75C2A0

.memory-card, #restart
	cursor: pointer
	box-shadow: 1px 1px 1px rgba(0,0,0,.3)
	transform: scale(1)
	transform-style: preserve-3d
	transition: transform .5s
	&:active
		transform: scale(0.97)
		transition: transform .2s

.memory-game
	height: 440px
	width: 440px
	margin: auto
	margin-top: 30px
	perspective: 1000px
	.memory-card
		width: 100px
		height: 100px
		margin: 5px
		position: relative
		background-color: lighten($second-color, 20%)
		border-radius: 5px
		float: left

.back-face, .front-face
	width: 60%
	height: 60%
	position: absolute
	padding: 19px
	backface-visibility: hidden

.front-face
	transform: rotateY(180deg)

.memory-card.flip
	transform: rotateY(180deg)

.btn
	width: 100%
	text-align: center

#restart
	border: none
	color: #fff
	background-color: $base-color
	padding: 20px 45px
	font-size: 16px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	&:hover
		background-color: lighten($base-color, 5%)
